.cardDontknow {
    background: rgb(177, 113, 236);
    border: 2px solid rgb(121, 15, 153);;
    width: 28vw;
    height: 16vw;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}