@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';


.wordImg  {
    height: 150px;
    width: 90%;
}

.word {
    color: var(--text-color);
    border: double 2px gray;
    margin-top: 30px;
    width: 20vw;
    text-align: center;
    @include font-style-regular-text;
    height: auto;
}

.selected {
    background: yellowgreen;
    color: red;
}

.classWord {
    color: var(--text-color);
    border: double 5px rgb(218, 15, 15);
    margin-top: 30px;
    width: 20vw;
    text-align: center;
    @include font-style-regular-text;
    height: auto;
}