.wordsContainer {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
}

.wordImg  {
    height: 150px;
    width: 90%;
}

.word {
    color: var(--text-color);
    border: double 2px gray;
    margin-top: 30px;
    width: 23vw;
    text-align: center;
}