@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.wordsListTable {
width: 96%;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-left: 30px;
padding-right: 30px;
border: var(--border-table-list);
background-color: var(--remainCard-background);
}

.id, .english, .transcription, .russian, .tableButtons {
width: 20%;
@include font-style-regular-text;
}

.tableButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.listButton {
    background: var(--button-background-color);
    @include font-style-regular-text;
    border: var(--border-button);
    border-radius: 10px;
}
