@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.cardRemain {
    background: var(--remainCard-background);
    border: var(--border-color);
    border-radius: var(--border-radius);
    width: var(--resultsCards-width);
    height: var(--resultsCards-height);
    color: var(--text-color);
    
    @include flex-column;
    @include font-style;
   
}