.cardRemain {
    background: rgb(102, 236, 173);
    border: 2px solid rgb(98, 232, 114);
    width: 28vw;
    height: 16vw;
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(14, 124, 69);
}