:root  {
    /*results Cards*/
  
    --knowCard-background: rgb(94, 157, 234);
    --remainCard-background: rgb(98, 232, 114);
    --dontknowCard-background: rgb(231, 103, 133);
    --resultsCards-font-size: 2em;
    --resultsCards-width: 29vw;
    --resultsCards-height: 15vw;
  
  
    /*common variables*/
  
    --border-color: 2px solid transparent;
    --border-radius: 10px;
    --border-button: 2px solid rgb(187, 150, 14);
    --text-color: black;
    --button-background-color: rgb(255, 200, 0);
    --button-text-size: 2.5em;
    
  
  
  
  
}