.mainImg {
    width: 100%;
}

.mainSlogan {
    font-size: 6rem;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--custom-yellow);
    border: double;
    padding: 4px 12px 4px 12px;
    border-radius: 12px;
}

.main {
position: relative;
text-align: center;
}